link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/styles/darkly.min.css')

script(type='text/javascript', src='/bower_components/angular/angular.min.js')
script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.min.js')
script(type='text/javascript', src='/app/app.js')

body(ng-app='app')
    .container
        h4 Find a Doctor Today!
        div(ng-controller='testCtrl')
            .list-group
                a.list-group-item(href='#')(ng-repeat="doctor in doctors | orderBy:'name'")
                    h4.list-groupt-item-heading {{ doctor.name }}
                    p.list-group-item-text {{ doctor.description }}